
.pagination {
	margin-left: 78%;
}
.borderButton {
	  border-style: solid;
  border-color: rgb(230, 240, 255);
}
.searchMargin {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.searchField {
	margin-left: 15px;
}
.timeField {
display: block;
}

